
@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');
body{
  font-family: 'Almarai', sans-serif;

}

header{
  font-family: 'Almarai', sans-serif;
}
  .card{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    gap: 3%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 300px;
    border-radius: 20px;
    /* border: 2px solid rgba(152, 149, 149, 0.741); */
  }

  .all{
    margin-bottom: 10%;
    margin-top: 20%;
    display: flex;
    justify-content: space-around;
  }

  .card p{
    font-size:25px;
  }

  #ha{
    width: 80%;
  }

  .bg9{
    width: 100%;
    height: 700px;
    opacity: 0.7;
   background-image: url('../IMG/hands.png');
   background-size: cover;
  }

 p{
  margin-top: 5%;
  font-size: 55px;
 color: #432717af;
 text-align: center;
}

/* done */
/* done 2*/
