/* header - nav - logo */
@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');
*{
    margin:0 ;
    padding: 0;
    font-weight: 700;
  }
  header{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #866d54;
    padding: 1%;
    font-family: 'Almarai', sans-serif;
  }
  
  
  header h5{
    font-size:medium;
    color: #e8e5e1;
    letter-spacing: 2px;
    font-family: 'Almarai', sans-serif;
  }
  
  header p{
    font-size:smaller;
    color: #f4f1eb;
    letter-spacing: 2px;
  }
  
  header img{
    margin-right: -70px;
    margin-top:35px;
    width: 210px;
    height: 150px;
  }
  .logo{
    display: flex;
    text-align: right;
  }
  nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 30%;
  }
  
  nav :hover{
    text-decoration: underline;
    cursor: pointer;
  }
  

  
   nav a{
     text-decoration: none;
     color: #f4f1eb;
     font-family: 'Almarai', sans-serif;
  }
  
  .button a{
    text-decoration: none;
    color: #523f34;
    font-family: 'Almarai', sans-serif;
  }
  .button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #d3caba;
    background-size: 400%;
    color: #523f34;
    border: none;
    font-weight: 700;
    font-family: 'Almarai', sans-serif;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: '';
    position: absolute;
    top: 0;
    color: #fff;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgb(203, 177, 160) 10.8%,
      rgb(176, 151, 113) 94.3%
    );
    
    transition: all 0.475s;
  }

  

/* partners */
#investh{
    margin: auto;
    text-align: center;
    font-size: 60px;
   color: #917360d2;
   margin-top: 20%;
  }
  
  #invest{
    background-color: #f1f0ef58;
    margin-left: 29%;
    border-radius: 20px;
    margin-top: 5%;
  }
  #partners{
    margin-top: 20%;
   text-align: center;
   font-size: 60px;
   color: #917360d2;
  }
  #part{
    border: 1px solid rgba(185, 185, 184, 0.609);
    width: 250px;
    height: 200px;
    border-radius: 15px;
  }
  
  .conimg{
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1%;
  }
  
  .conimg2{
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-bottom: 10%;
  }
  
@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');
body{
  font-family: 'Almarai', sans-serif;

}

header{
  font-family: 'Almarai', sans-serif;
}