 /* Colors */
/* $color-primary-white: rgb(240, 240, 240); */
/* 
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: 'Roboto', sans-serif;

}

h1{
  font-family:Lucida Console, Courier, monospace; 
  color: #8D7B68;
}

 
.card1{
  display: flex;
  flex-direction: column;
  width: 10px;
  font-family: 'Roboto', sans-serif;
  width: 100px;
  height: 50px;
}


.card2{
  display: flex;
  flex-direction: column;
  width:100px ;
  height: 50px;
}


.card3{
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 50px;
}

.card4{
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 50px;
}

 
    
    */
/* 

/* start */

header{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #866d54;
  opacity: 0.8;
  padding: 1%;
  font-family: 'sitefont', 'Tajawal', sans-serif;
}
  
header h5{
  font-size:medium;
  color: #e8e5e1;
  letter-spacing: 2px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header p{
  font-size:smaller;
  color: #f4f1eb;
  letter-spacing: 2px;
}

header img{
  margin-right: -70px;
  margin-top:35px;
  width: 210px;
  height: 150px;
}
.logo{
  display: flex;
  text-align: right;
}
.card{
  background-color: rgb(230, 224, 217);
  padding: 2%;
  width: 320px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(141, 138, 138);
  padding: 1%;
  background-size: cover;
  border-radius: 10px;
  flex-direction: row;
  background-image: url(../IMG/Screenshot_1445-02-19_at_1.18.50_AM-removebg-preview.png);
  background-size: cover;
}

nav{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 30%;
}

nav :hover{
  text-decoration: underline;
  cursor: pointer;
}

@import url( http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

 nav a{
   text-decoration: none;
   color: #f4f1eb;
   font-family:"Droid Arabic Kufi";
}

.button a{
  text-decoration: none;
  color: #523f34;
}
.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #d3caba;
  background-size: 400%;
  color: #523f34;
  border: none;
  font-weight: 700;

}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  color: #fff;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(203, 177, 160) 10.8%,
    rgb(176, 151, 113) 94.3%
  );
  
  transition: all 0.475s;
}




.all{
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
 margin: auto;

}

#imgg{
  width: 200px;
  height: 180px;
}

.card p{
  color: rgb(87, 61, 15);

 margin-bottom: 55%;
  letter-spacing: 2px;
  width: 340px;
margin-left: 10px;


}

.card h2{
  color: rgba(59, 55, 55, 0.756);
  font-size: 26px;
  padding-left: 30px;
}

h1{
  text-align: center;
  font-size: 45px;
  color: rgb(87, 61, 15);
  font-family: Lucida Console, Courier, monospace;
  margin-top: 5%;
}

body{
  background-color: #A4907C;
}


h3{
text-align: right;
font-family: Lucida Console, Courier, monospace;
font-size: 40px;
margin-top: 10%;
margin-right: 25%;
color: #523f34;
}

p{
  text-align: right;
  font-family: Lucida Console, Courier, monospace;
  font-size: 20px;
  margin-right: 25%;
  color: #523f34;

  

}


.IMAGE{
  margin-bottom: 25%;
}